:root{
    --PrimaryColor:hsl(23, 93%, 51%);
    --HoverColor:hsl(23, 90%, 51%);
    --WhiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --textColor:hsl(240,1%,48%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyBg:hsl(0,0%,96%);
    --greyText:rgb(190,190,190);
    --inputColor:hsl(330,12%,97%);
  }

.home{
    height:95vh;
    background:linear-gradient(rgba(33,33,33,0.522),rgba(33,33,33,0.522)), url('../../Assets/px2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .homeText{
    text-align: center; 
  }
  .title0{
    color:var(--WhiteColor);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5 rem;
  }
  .subTitle{
    color:var(--WhiteColor);
    opacity: .9;
    font-size:  13px;
    font-weight: 300;
    padding: 1rem 0;
    max-width: 70%;
    text-align: center;
    margin: auto;
  }
  .btn17{
    padding: .6rem 1.5rem;
    background: var(--PrimaryColor);
    border-radius: 20px ;
    border: 1px solid var(--PrimaryColor);
    width:max-content;
    padding: .6rem 1.5rem;
    color: white;
    font-weight: 600;
   }
  .a25{
  color: var(--WhiteColor);
 }
 
  .homeCard{
    width:70%;
    border-radius: 1rem;
    padding: 2rem;
    background: var(--WhiteColor);
    position: absolute;
    gap: 1rem;
    justify-content:center;
    bottom: -50%;
    transform: translate(-50%);
    left:50%;
    box-shadow: 0 2px 8px 4px rgba(178,178,178,0.55);
  }
  .locationDiv, .distDiv, .priceDiv{
    width:100%;
  }
  label{
    display:block;
    color:var(--textColor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: .4rem;
    text-align: left;
  }
  input{
    width:100%;
    background: var(--inputColor);
    border-radius: 10px;
    border:none;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    top:-15px;
  }
  ::placeholder{
    font-size: 13px;
    opacity: .5;
    font-weight: 400;
  }
  :focus{
    outline:none;
  }
  .btn1{
    padding: .6rem 1.5rem;
    background: var(--PrimaryColor);
    border-radius: 20px ;
    border: 1px solid var(--PrimaryColor);
    width:100%;
    padding: .6rem 1.5rem;
    color: white;
    font-weight: 600;
  }

  /* Media Query ===============> */
  @media screen and (min-width:480px) {
   
        .homeCard{
          bottom:-100px;
          width:90%;
          grid-template-columns: repeat(2,1fr);
          }
          .btn17{
            transform: translateY(15px);
          }
      }
  
  @media screen and (min-width:556px) {
   
        
          .title0{
            font-size: 2.5rem;
          }
          .subTitle{
            font-size: 18px;
          }
          .btn17{
            transform: translateY(15px);
          } 
      }

      @media screen and (min-width:480px){ 
        .homeCard{
              bottom: -100px;
              width:90%;
              grid-template-columns: repeat(2, 1fr);
              }
              .btn17{
                transform: translateY(15px);
              }
            
      }
    

  @media screen and (min-width:556px){ 
    /* .home{
      .seContianer{
          .homeText{ */
            .title{
              font-size:2.5rem;
            }
            .subTitle{
              font-size:18px;
            }
          }
          /* }
    }
  } */
  @media screen and (min-width:720px){ 
    /* .home{
      .seContianer{ */
         .homeCard{
           bottom:-10%;
           grid-template-columns: repeat(4, 1fr);
         }
       }
    /* }
  } */

  @media screen and (min-width:720px){ 
    /* .home{
      .seContianer{ */
         .homeText{
            padding: 1rem 10rem;
        }
        .title0{
          font-size: 3.5rem;
          margin: auto;
          line-height: 4rem;
        }
        .subTitle{
          width: 70%;
        }
       }
    /* }
  } */
 
  @media screen and (min-width:1024px){ 
.subTitle{
          font-size: 20px;
     }
.homeCard{
    width: 70%;
}        
       }