:root{
    --PrimaryColor:hsl(23, 93%, 51%);
    --HoverColor:hsl(23, 90%, 51%);
    --WhiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --textColor:hsl(240,1%,48%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyBg:hsl(0,0%,96%);
    --greyText:rgb(190,190,190);
    --inputColor:hsl(330,12%,97%);
  }
  
.mainContainer3{
        gap:1.5rem;
}
.singlePost3{
        gap:1.4rem;
}
.imgDiv3{
    height: 350px;
    width: 100%;
    border-radius: 1rem;
    border:5px solid var(--greyBg);
    box-shadow: 0 8px 8px 2px rgba(18, 6, 6, 0.406);
    overflow: hidden;
    position: relative;
    top:5%;
}
.img30:hover{
    transform: scale(1.1);
    transition: 3s ease;
}
.img30{
    height: 100%;
    object-fit: cover;
} 
p17{
    text-align: center;
}
.hd33{
    color:var(--blackColor);
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
    left:-8px;
}
p4{
    font-size: 13px;
    color:var(--textColor);
    font-weight: 500;
} 
a{
    font-size: 15px;
    color:var(--PrimaryColor);
    font-weight: 600;
    padding-top: .5rem;
    width: max-content;
}
a:hover{
    color: var(--HoverColor);
    font-weight: 600;
}
.icon5{
    font-size: 25px;
    font-weight: 600;
    transform: translateX(10px);
    position: relative;
    top:8px;
    left:-7px;
}
  .secTitle2{
    color:var(--blackColor);
    text-align: center;
  }

  @media screen and (min-width:884px) {
    .mainContainer3{
        grid-template-columns: repeat(2,1fr);
    }
    
  }